* {
  margin: 0;
  padding: 0;
}

html {
  width: 80%;
  margin: auto;
  background: #333;
  color: #fff;
  font-family: 'Droid Sans', sans-serif;
  font-size: 0.9em;
}

a {
  text-decoration: none;
  color: #66f;
}

p {
  margin: 1em;
}

header {
  width: 100%;
  border-bottom: 1px solid #333;
}

header h1 a {
  background: #111;
  padding: 1em;
  border-bottom: 1px solid #333;
  display: block;
}

header a {
  color: #888;
}

header a:hover {
  background: #191919;
  color: #bbb;
}

header nav {
  background: #1a1a1a;
  padding: 0.5em;
}

header nav ul {
  list-style: none;
}

header nav li {
  display: inline;
}

header nav a {
  padding: 1em;
  line-height: 3em;
}

#main {
  background: #222;
  width: 100%;
}

#content {
  width: 75%;
  float: left;
}

article {
  padding: 1em;
  background: #303030;
  padding-bottom: 3em;
  line-height: 1.6em;
}

article h2 {
  color: #aaa;
  background: url(/img/bgh1.gif) repeat-x left bottom;
  margin-bottom: 1em;
}

article a {
  color: #999;
  text-decoration: underline;
}

article ul, article ol {
  margin-left: 2em;
}

article table {
  width: 100%;
}

article .highlight {
  background: #111;
  padding: 1em;
  margin: 1em 0em 1em 1em;
  overflow: auto;
}

#archive ul {
  list-style: none;
}

#archive a {
  color: #888;
  padding: 0.5em;
  display: block;
}

#sidebar {
  background: #222;
  width: 24.5%;
  float: right;
}

#sidebar h2, #sidebar h3 {
  text-align: center;
}

#sidebar ul {
  list-style: none;
  margin: 1em;
}

#sidebar li {
  margin-top: 1em;
}

#sidebar a {
  color: #888;
}

#projects li {
  text-align: center;
}

footer {
  clear: both;
  text-align: center;
  background: #191919;
  border-top: 1px solid #444;
  color: #999;
  padding: 1em;
}

.clear {
  clear: both;
}
