<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/> 
    <meta name="author" content="author"/> 
    <link rel="stylesheet" type="text/css" href="/css/default.css" media="screen"/>
    <title>The Rubyists</title>
  </head>
  <body style="margin: 0 12%;">
    <div class="container">
      <div class="header">
        <a href="/"><span>The Rubyists</span></a>
      </div>

      <div class="stripes"><span></span></div>

      <div class="nav">
        <a href="/">Blog</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <div class="clearer"><span></span></div>
      </div>

      <div class="stripes"><span></span></div>

      <div class="main">
        <div class="left">
          <div class="content">
            {{ content }}
          </div>
        </div>

        <div class="right">
          <div class="subnav">
            <h1>Author</h1>
            <p>Something about Rubyists</p>

            <h1>Recent</h1>
            <ul>
              {% for post in site.posts limit:5 %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>

        </div>

        <div class="clearer"><span></span></div>

      </div>

      <div class="footer">
        <div class="col3">
          <h2>Freeswitcher</h2>
          <ul>
            <li><a href="http://rubyists.github.com/freeswitcher">home</a></li>
            <li><a href="https://github.com/rubyists/freeswitcher">code</a></li>
            <li><a href="https://github.com/rubyists/freeswitcher/wiki">wiki</a></li>
            <li><a href="https://github.com/rubyists/freeswitcher/issues">issues</a></li>
          </ul>

        </div>

        <div class="col3center">
          <h2>Tiny Call Center<h2>
          <ul>
            <li><a href="http://rubyists.github.com/tiny_call_center">home</a></li>
            <li><a href="https://github.com/rubyists/tiny_call_center">code</a></li>
            <li><a href="https://github.com/rubyists/tiny_call_center/wiki">wiki</a></li>
            <li><a href="https://github.com/rubyists/tiny_call_center/issues">issues</a></li>
          </ul>
        </div>

        <div class="col3">
          <h2>Tiny Call Detail recording<h2>
          <ul>
            <li><a href="http://rubyists.github.com/tiny_cdr">home</a></li>
            <li><a href="https://github.com/rubyists/tiny_cdr">code</a></li>
            <li><a href="https://github.com/rubyists/tiny_cdr/wiki">wiki</a></li>
            <li><a href="https://github.com/rubyists/tiny_cdr/issues">issues</a></li>
          </ul>
        </div>

        <div class="bottom">
          <span class="left">&copy; 2006 <a href="index.html">Website.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open Web Design</a></p>
          </span>
          <span class="right">Template design by <a href="http://arcsin.se">Arcsin</a></span>
          <div class="clearer"><span></span></div>
        </div>
      </div>
    </div>
  </body>
</html>
