<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description"/>
    <meta name="keywords" content="keywords"/>
    <meta name="author" content="author"/>
    <link href='http://fonts.googleapis.com/css?family=Tinos' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/css/highlight/fruity.css" media="screen"/>
    <title>The Rubyists</title>
  </head>
  <body>
    <header>
      <h1><a href="/">The Rubyists</a></h1>

      <nav>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/archive.html">Archive</a></li>
          <li><a href="/about.html">About</a></li>
          <li><a href="/contact.html">Contact</a></li>
          <li><a href="https://github.com/rubyists">Code</a></li>
        </ul>
      </nav>
    </header>

    <section id="main">
      <section id="content">
        {{ content }}
      </section>

      <section id="sidebar">
        <h2>Projects</h2>
        <ul id="projects">
          <li>
            <h3>Freeswitcher</h3>
            <a href="http://rubyists.github.com/freeswitcher">home</a>,
            <a href="https://github.com/rubyists/freeswitcher">code</a>,
            <a href="https://github.com/rubyists/freeswitcher/wiki">wiki</a>,
            <a href="https://github.com/rubyists/freeswitcher/issues">issues</a>
          </li>

          <li>
            <h3>Tiny Call Center</h3>
            <a href="http://rubyists.github.com/tiny_call_center">home</a>,
            <a href="https://github.com/rubyists/tiny_call_center">code</a>,
            <a href="https://github.com/rubyists/tiny_call_center/wiki">wiki</a>,
            <a href="https://github.com/rubyists/tiny_call_center/issues">issues</a>
          </li>

          <li>
            <h3>Ramaze</h3>
            <a href="http://ramaze.net/">home</a>,
            <a href="https://github.com/Ramaze/ramaze">code</a>,
            <a href="http://wiki.ramaze.net">wiki</a>,
            <a href="http://book.ramaze.net">book</a>
          </li>
        </ul>
      </section>
      <div class="clear"></div>
    </section>

    <footer>
      <span id="copyright">&copy; 2011 <a href="/">The Rubyists, LLC</a>.</span>
      <span id="validators">Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>.</span>
    </footer>
  </body>
</html>
